    body {
        background-color: whitesmoke;
        background: linear-gradient(to top left, whitesmoke, rgba(49, 49, 181, 0.454));
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    h1 {
        color: rgba(201, 70, 96, 0.673);
        font-size: 70px;
        border-bottom-style: dashed;
        padding: 19px;
        border-color: brown;
    }
    
    #h {
        font-family: "consolas", sans-serif;
        font-size: 18px;
    }
    
    p {
        background-color: bisque;
        border-style: outset;
        border-radius: 12px;
        border-color: blueviolet;
        border-width: 8px;
        padding: 11px;
        animation: cc;
        animation-duration: 700ms;
    }
    
    #box1 {
        margin-right: 40px;
        float: left;
        border: 6px solid;
        height: 80px;
        padding: 21px;
        width: 400px;
        border-radius: 5px;
        border-color: blueviolet;
        animation: bb;
        animation-duration: 2s;
    }
    
    #box2 {
        float: left;
        border: 6px solid;
        width: 400px;
        height: 80px;
        padding: 21px;
        border-radius: 5px;
        border-color: blueviolet;
        animation: bb;
        animation-duration: 3s;
    }
    
    #box3 {
        border-style: solid;
        border-color: blueviolet;
        border-radius: 5px;
        float: left;
        padding-left: 51px;
        height: 95px;
        width: 260px;
        margin-left: 40px;
        animation: bb;
        animation-duration: 4s;
    }
    
    #f {
        font-size: 20px;
        border-style: none;
        background-color: rgba(255, 0, 0, 0);
    }
    
    #f1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        border-style: none;
        background-color: rgba(255, 0, 0, 0);
    }
    
    @keyframes bb {
        from {
            margin-top: 30%;
        }
        to {
            margin-bottom: 100%;
        }
    }
    
    @keyframes cc {
        from {
            margin-right: 100%;
        }
        to {
            margin-left: 0%;
        }
    }